.card {
  background-color: $gray-0;
  box-sizing: border-box;

  &-lg {
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-lg;
    padding: 42px 40px;

    @media screen and (max-width: $mobile) {
      border-radius: $border-radius-md;
      padding: 20px;
    }
  }

  &-md {
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-md;
    padding: 16px;
  }
}