.join-us {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $narrow-block-width;
    margin: 0 auto;

    @media screen and (max-width: $tablet) {
      display: block;
      text-align: center;
    }
  }

  p {
    font-weight: $font-600;
    line-height: 120%;
    margin: 0 0 16px;
  }

  h2 {
    margin: 0;
  }

  &__right {
    display: flex;
    gap: 14px;

    a {
      text-decoration: none;
    }

    @media screen and (max-width: $tablet) {
      margin-top: 20px;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: center;
    }
  }
}