.questions {
  margin-left: -24px;
  margin-right: -24px;

  @media screen and (max-width: $tablet) {
    margin-left: -20px;
    margin-right: -20px;
  }

  h2 {
    text-align: center;
    margin: 0 0 2px;
  }

  &__swiper {
    padding: 30px 24px;

    @media screen and (max-width: $tablet) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .swiper-prev {
      left: 24px;

      @media screen and (max-width: $tablet) {
        left: 20px;
      }
    }

    .swiper-next {
      right: 24px;
      
      @media screen and (max-width: $tablet) {
        right: 20px;
      }
    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    height: 160px;
    padding: 0;

    h3 {
      margin: 0;
    }

    p {
      color: $gray-500;
      margin: 8px 0 0;
    }

    .description {
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__card-image {
    .description {
      padding-right: 0;
    }
  }
}