// Colors
$gray-0: #ffffff;
$gray-50: #f9f9f9;
$gray-500: #949494;
$gray-900: #1a1a1a;
$green-500: #36BA5F;

// Fonts
$font-family: 'Museo Sans Cyrl';
$base-font-size: 15px;
$base-line-height: 140%;
$font-400: 500;
$font-600: 700;
$font-700: 900;

// Box shadow
$box-shadow-lg: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
$box-shadow-md: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
$box-shadow-sm: 0px 1px 7px rgba(0, 0, 0, 0.09);

// Border radius
$border-radius-lg: 40px;
$border-radius-md: 16px;
$border-radius-sm: 12px;

// Width
$container-width: 1200px;
$narrow-block-width: 996px;

// Breackpoints
$desktop: $container-width;
$tablet: 1023px;
$mobile: 767px;
$mobile-xs: 374px;